.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.box1 {
  border: 1px solid #000;
  padding: 20px;
}

.box1 .base-info p {
  float: left;
  margin-right: 30px;
}

.base-info p span {
  font-weight: bold;
}

.box1 .title {
  font-size: 16px;
  font-weight: bold;
}

.box1 .title-content,
.box1 .title {
  margin: 0;
  padding: 0;
}

.box1 .title-content {
  margin-bottom: 10px;
}

.box2 h1 {
  float: left;
  background-color: dodgerblue;
  color: #Fff;
  width: 10%;
  box-sizing: border-box;
  height: 500px;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 500px;
}

.box2 .box1 {
  float: left;
  box-sizing: border-box;
  width: 50%;
}

.box3{
}

.box3 .table-title{
  background-color: dimgray;
  color: #fff;
}

.box3 .table-name{
  background-color: #999;
  font-weight: bold;
  width: 100px;
}